{% extends 'accounts/main.html' %}
{%load static %}
{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card card-body">
            <p>Are you sure you want to delete :{{order.product.name}}?</p>
            <form action=""method = "POST">
                {% csrf_token %}
                <a class="btn btn-warning btn-sm" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-danger btn-sm"type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock  %}